<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Rails Auth Eg" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div><%= notice %></div>
<div><%= alert %></div>
<% if user_signed_in? %>
  <%= link_to "Edit Password", edit_password_path, class: "nav-link"  %>
  <%= button_to "Log out", session_path, method: :delete, class: "nav-link" %>
<% else %>
<%= link_to "Sign Up", new_registration_path, class: "nav-link" %>
<%= link_to "Log in", new_session_path, class: "nav-link" %>
<% end %>

<main class="container mx-auto mt-2 px-5 flex">
  <%= yield %>
</main>
</body>
</html>
